<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Karla" rel="stylesheet">
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
  <title>Welcome to EatRepeat</title>
  <style>
  body {
    background-image: url('http://static.asiawebdirect.com/m/bangkok/portals/bangkok-com/homepage/food-top10/pagePropertiesImage/thai-som-tum.jpg');
    font-family: 'Karla', sans-serif;
    color: white;
  }
</style>
</head>

<body >
  <!-- Navbar 
  <nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">
      <a style="font-weight:bold;
      color: green;" href="/">EatRepeat</a>
    </span>
  </nav> -->

  <!-- Landing -->
  <div class="landing">
    <div class="dark-overlay landing-inner">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center" style="margin-top: 50px;">
            <h1 class="display-3 mb-4" style="font-weight: bold;">EatRepeat
            </h1>
            <p class="lead" style="font-weight: bold; margin-top: 30px;"> Create a new account or Sign in</p>
            <hr />
            <a href="/register" class="btn btn-lg btn-info mr-2">Sign Up</a>
            <a href="/login" class="btn btn-lg btn-dark">Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>